footer {
    background-color: #2d2c4c;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    padding-bottom: 100px;
    color: white;
}

.img777 {
    height: 40px;
}
 
.parent705 {
    display: flex;
    justify-content: space-between;
}

.parent704 {
    width: 30%;
}

.parent703 {
    display: flex;
    justify-content: space-between;
    width: 55%;
    
}

.parent702 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    
    
}

.parent701 {
    display:flex;
    justify-content: space-between;
}

.img701 {
    width: 5%;
    height: 30px;
    margin-top: 7px;
}

li a{
    color: #fcd750;
    text-decoration: none;
}

li a:hover {
    color: #20a5e6;
    transition: all 0.2s ease;
}

ul {
    list-style: none;
    line-height: 1.8;
    margin-top: 0;
}

.child777 {
    line-height: 1.3;
    margin-top: 2.5px;
}

.big777 {
    color: #20a5e6;
    font-size: 37px;
    margin: 0px 0px;
}

@media (max-width : 1000px) {
    .footer {
        width: 218%;
        font-size: 40px;
        text-align: center;
    }

    .parent701 {
        flex-direction: column;
        width: 100%;
    }

    .parent702 {
        flex-direction: column;
        width: 100%;
    }

    .parent703 {
        flex-direction: column;
        width: 100%;
    }

    .parent704 {
        width: 100%;
    }

    .img777 {
        height: 110px;
    }

    .img701 {
        width: 100%;
        height: 150px;
        margin:  60px auto;
    }

    ul {
        list-style: none;
        line-height: 2;
        margin-top: 0;
        padding-left: 0;
    }

    .child777 {
        line-height: 1.3;
        margin-top: 3.5px;
        margin-bottom: 3.5rem;
    }
    
    .big777 {
        font-size: 45px;
        margin: 0px 0px;
    }
}