.contain2011 {
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;

}

.logoo201 {
    width: 20%;
}

.asidee201 {
    width: 65%;
}

.img201 {
    height: 280px;
}

.proces {
    background-color: #2d2c4c;
    color: white;
    padding: 5px;
    width: 178px;
}

.bigg201 {
    font-size: 95px;
    text-align: left;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #2d2c4c;
}


.smalll201 {
    font-size: 27px;
    width: 100%;
    margin-top: 0;
    margin-top: 4px;
    color: #2d2c4c;

}

.childd201 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}

.bigg202 {
    color: #20a5e6;
    margin-top: 30px;
}

.smalll202 {
    color: #2d2c4c;
}

.babyy201 {
    width: 30%;
}

@media (max-width : 600px) {
    contain2011 {
        width: 216%;
        flex-direction: column;
        
    }

    .logoo201 {
        width: 100%;
        margin: auto;
    }

    .asidee201 {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: ;
    }

    .proces {
        margin: auto;
        border: 1px solid red;
    }
}