body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.spann {
    display: none;
}

.header {
    position: sticky;
    top: 0;
    height: 60px;
    padding: 20px 70px;
    background-color: #fcd750;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2d2c4c;
    
}

.logo {
    padding: 0;
}

.nav {
    display: flex;
    gap: 15px;

}

.link {
    color: #2d2c4c;
    text-decoration: none;
    padding-right: 20px;
}

.link:hover {
    color: #20a5e6;
}

@media (max-width : 760px) {
    .header {
        height : 20px;
        padding: 20px 40px;
        padding: 20px 20px; 
    }

    .nav {
        display: none;
    }

    .spann {
        display: block;
        font-size: 30px;
        font-weight: bold;
    }

    .logo {
        height: 25px;
    }

}