.contain201 {
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;

}

.logo201 {
    width: 20%;
}

.aside201 {
    width: 65%;
}

.img201 {
    height: 280px;
}

.process {
    background-color: #2d2c4c;
    color: white;
    padding: 5px;
    width: 120px;
}

.big201 {
    font-size: 95px;
    text-align: left;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #2d2c4c;
}


.small201 {
    font-size: 27px;
    width: 60%;
    margin-top: 0;
    margin-top: 4px;
    color: #2d2c4c;

}

.child201 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.big202 {
    color: #20a5e6;
    margin-top: 30px;
}

.small202 {
    color: #2d2c4c;
}

.baby201 {
    width: 30%;
}

@media (max-width : 1000px) {
    .contain201 {
        flex-direction: column;
        width: 216%;
    }

    .logo201 {
        margin: auto;
        width: 220px;
    }

    .img201 {
        width: 220px;
    }

    .child201 {
        flex-direction: column;
        text-align: center;
        
    }

    .aside201 {
        width: 100%;
        margin: auto;
        padding-top: 60px;
    }

    .process {
        height: 40px;
        width: 290px;
        font-size: 37px;
        padding: 10px 10px;
        margin: 0 auto;
        text-align: center;
    }
    

    .baby201 {
        width: 100%;
        font-size: 40px;
    }

    .big201 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 110px;
        padding-top: 60px;
    }

    .small201 {
        width: 100%;
        text-align: center;
        font-size: 40px;
    }
}
