footer {
    background-color: #2d2c4c;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    padding-bottom: 100px;
    color: white;
}

.img777 {
    height: 40px;
}
 
.parent705 {
    display: flex;
    justify-content: space-between;
}

.parent704 {
    width: 30%;
}

.parent703 {
    display: flex;
    justify-content: space-between;
    width: 55%;
    
}

.parent702 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    
    
}

.parent701 {
    display:flex;
    justify-content: space-between;
}

.img701 {
    width: 5%;
    height: 30px;
    margin-top: 7px;
}

li a{
    color: #fcd750;
    text-decoration: none;
}

li a:hover {
    color: #20a5e6;
    transition: all 0.2s ease;
}

ul {
    list-style: none;
    line-height: 1.8;
    margin-top: 0;
}

.child777 {
    line-height: 1.3;
    margin-top: 2.5px;
}

.big777 {
    color: #20a5e6;
    font-size: 37px;
    margin: 0px 0px;
}