body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.header {
    position: sticky;
    top: 0;
    height: 60px;
    padding: 20px 70px;
    background-color: #fcd750;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2d2c4c;
    
}

.logo {
    padding: 0;
}

.nav {
    display: flex;
    gap: 15px;

}

.link {
    color: #2d2c4c;
    text-decoration: none;
    padding-right: 20px;
}

.link:hover {
    color: #20a5e6;
}

@media (max-width : 600px) {
    .header {
        height : 100px;
        padding: 20px 40px;
        width: 232%;  
    }

    .nav {
        display: none;
    }

}