.contain0 {
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;

}

.logo0 {
    width: 20%;
}

.aside0 {
    width: 65%;
}

.img0 {
    height: 280px;
}

.proces0 {
    background-color: #2d2c4c;
    color: white;
    padding: 5px;
    width: 178px;
}

.big0 {
    font-size: 95px;
    text-align: left;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #2d2c4c;
}


.small0 {
    font-size: 27px;
    width: 100%;
    margin-top: 0;
    margin-top: 4px;
    color: #2d2c4c;

}

.child0 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}

.big01 {
    color: #20a5e6;
    margin-top: 30px;
    font-size: 16px;
}

.small0 {
    color: #2d2c4c;
    font-size: 16px;
}

.baby0 {
    width: 30%;
}

@media (max-width : 760px) {
    .contain0 {
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .img0 {
        width: 220px;
        height: 90px;
        margin-bottom: 30px;
    }

    .logo0 {
        margin: auto;
        width: 220px;
    }

    .proces0 {
        margin: auto;
        text-align: center;
        height: 13px;
        width: 180px;
        padding-top: 4px;
        padding-bottom: 8px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .aside0 {
        width: 100%;
    }
    
    .child0 {
        flex-direction: column;
        flex-wrap: nowrap; 
        padding-top: 0;
    }

    .baby0 {
        width: 100%;
        text-align: center;
    }

    .small0 {
        font-size: 17px;
    }

    .big01 {
        font-size: 17px;
        text-align: center;
        width: 100%;
    }

    .big0 {
        font-size: 40px;
        color: #2d2c4c;
    }

    .small01 {
        text-align: center;
    }

    
}